database?/gpwmaro_prod
database?/maro_etude
database?/mbmgpao
database?/inventaire
database?/exploitation
database?/archives
database?/mysql

backupsql?/backup/*.sql
backupsql?/*.tar

sites/APIMobile

database?/ib*
database?/aria*
database?/*.info
database?/*.flag
database?/*.state

