database?/gpwmaro_prod
database?/maro_etude
database?/mbmgpao
database?/inventaire
database?/exploitation
database?/archives
database?/inventaire2019
database?/mysql

backupsql?/backup/*.sql
backupsql?/*.tar

sites/APIMobile
sites/Inventaire2019

database?/ib*
database?/aria*
database?/*.info
database?/*.flag
database?/*.state
database?/*.pid
database?/mysql_upgrade_info
